


/* exo1 */

section{
    padding-bottom: 50px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
}


/* consigne 2  */

section:first-child>h4{
    color: blue;
}

/* exo 2  */

section:nth-child(2)>p{
    color:red;
    border-bottom:5px;
    border-style: solid;
}


/* exo 3  */


section:nth-child(3)>h1,ul{
    color: red;
}


/* exo 4  */


section:nth-child(4)>p>ul:thx-child(2)li>a{
    font-size: 25px;
}


/* exo 5  */

section:nth-child(5)>h3+span{
    color: blue;
}



/* exo 6  */

img{
    border-radius: 50%;
    border: black;
    border-style: dotted;
}



/* exo 7 */

body:last-child{
    color: green;
}